/* add your CSS here */
/*add a border around the animal's name, image, and information*/
body {
  background-color: black;
   color: white;
  padding: 20px 40px 40px 20px;
  
  margin: 30px;
 
}
h1 {
  color: white;
  border:10px solid #fffff;
   padding: 20px 40px 40px 30px;
  margin: 20px 20px 20px 20px;
}
  em {
  color: #0934C4;
  font-weight: bold;
}
img {
width: 300px;
border:10px solid #fffff;
   padding: 20px 40px 40px 30px;
  margin: 0;
  
  
}
.animal-info {
   border:10px solid #fffff;/*add a border around the animal's information*/
  margin: 0;
   padding: 20px 40px 40px 30px;
  
}

p {color: ;
  font-style: italic;
   color: white;
}
#interesting-fact {
  font-style: italic; /*italicize the text for the animal's interesting fact*/
    font-size: 12pt;
  font-family: 'Arial', sans-serif;
}
.stylef{
  font-style: italic;
  text-decoration: none;
}
}
ul {
    
       color: white;
}
.bold {
  font-weight: bold; /*bold the labels for the animal's list items (e.g. 'Habitat')*/
   color: #0934C4;
}

.order {
  list-style-type: none ;/*remove dots from the animal's list items*/
}

ol.order{
    list-style-type: lower-roman;
}
.tradingcard { /*add spacing between the animal's name, image, and information (you will need to use the property padding)*/
  border: 12px solid #0934C4;
  padding: 0.5em;
  margin: 0;
  
}